<!--& ::::::::: -->

<!-- prettier-ignore-html -->

<!-- prettier-ignore-html)(!DOCTYPE html) -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Web Application Development Company" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="stylesheet" type="text/css" href="/src/css/index.css" />
    <script src="/src/js/index.js" content="text/javascript" defer></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <title>Webelistics<sup class="h1-header-sup>">&#174;</sup></title>
  </head>

  <body class="body">
    <header id="header" class="header">
      <div class="logo-container">
        <img
          id="header-image"
          class="header-image"
          src="/src/img/HOOT-W-LOGO_TEST.png"
          alt="HOOT Image"
        />
      </div>
      <div id="h1-container" class="h1-container">
        <h1 class="h1-hoot ">HOOT</h1>
        <h1 id="h1-header" class="h1-header" alt="HOOT Title">Webelistics
          <sup class="h1-header-sup">&#174;</sup>
        </h1>
      </div>
    </header>
    {{! Before Production this is going to be a Web-Component  }}
    {{{body}}}
    {{{footer}}}

  </body>

</html>