@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

* {
	margin: 0;
	padding: 0;
}

/** PLAN to have Light/Dark Mode  **/
html {
	background: #222222;
}

body .header {
	margin: 0 0 1rem 0;
	padding: 0.5rem;
	display: flex;
	flex-wrap: nowrap;
	flex-grow: 1;
	width: 100vw;
	max-height: 19vh;
	min-height: 17vh;
	border-top: 0.7rem solid #eb912a;
	border-bottom: 0.7rem solid #eb912a;
	justify-content: center;
	overflow: hidden;
}

.header .header-image {
	display: inside;
	position: absolute;
	left: 1rem;
	padding-left: 0.5rem;
	max-height: 112px;
	max-width: 140px;
	width: auto;
	height: auto;
	object-fit: cover;
	overflow: hidden;

	/* aspect-ratio: 5 / 4; */
}

#h1-header {
	display: flex;
	font-family: 'Chango', cursive;
	font-size: 4vw;
	/* --minFontSize: 8.5rem;
  --maxFontSize: 17.5rem;
  --scaler: 15rem;
  font-size: clamp(var(--maxFontSize) var(__scaler) var(--minFontSize));*/
	text-shadow: #5c5c5c 3px 6px 5px;
	text-align: center;
	color: #b3b3b3;
}

.h3-home {
	color: #b3b3b3;
	font-family: 'Days One';
	font-size: 2vh;
}
