<!--    Webelistics®  Web Application Development    -->
<!--     Gordon R. Mullen Jr  'Date: 2022/01/10'     -->



{{{body}}}
<h3 class="h3-home">Welcome to || HOOT || Webelistics<sup>&#174</sup>!</h3>
