<!--    Webelistics®  Web Application Development    -->
<!--     Gordon R. Mullen Jr  'Date: 2022/01/10'     -->

{{{body}}}
<section class="hoot-container">
  <h2 class="h2-home">Welcome to || HOOT || Webelistics<sup class="h2-home-sup">
      &#174
    </sup>
    &#160 !!
  </h2>
</section>