<!--    Webelistics®  Web Application Development    -->
<!--     Gordon R. Mullen Jr  'Date: 2022/00/00'     -->


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/src/css/index.css">
  <script src="/src/js/index.js" content="text/javascript" defer></script>
 <title>Webelistics® Web App Dev</title>
</head>

<body>

    <h1>HOOT Webelistics &#174</h1>
    

</body>

</html>